elasticsearch==6.2.0
urllib3==1.22
chardet==3.0.4
certifi==2018.1.18
cffi==1.11.5
click==6.7
cryptography==2.2.2
idna==2.6
itsdangerous==0.24
Jinja2==2.10
jsonify==0.5
MarkupSafe==1.0
pyasn1==0.4.2
pycparser==2.18
PyNaCl==1.2.1
requests==2.18.4
scp==0.10.2
six==1.11.0
urllib3==1.22
Werkzeug==0.14.1
bcrypt==3.1.4
asn1crypto==0.24.0
